########################################################
# MEMORY section
# Defines 6 memory area for NES games (linker will map them into binary)
#  ZP - Special section of RAM that 6502 uses as Zero-Page memory - R/W with 256 bytes -> $0000 - $00FF
# OAM - Special section of RAM for local copy of sprites definition table (position, shape and attributes) - R/W with 256 bytes -> $2000 - $20FF
# RAM - Remainder of the 2K of RAM - Used for local variable storage. R/W with 1280 bytes - $0300 - $07FF
# HDR - Special section for console emulator to knows it is a NES cartridge - RO with 16 bytes $0000 - $000F
# PRG - Main ROM area where code and data are stored. RO with 32 K - Start at $8000
# CHR - Area in the ROM which contains tiles and sprites. RO with 8 K Start at $0000.
#
# Type :
#   - RO : Read Only
#   - RW : Read and Write
# File : Specify a file where memory area data info will be stored. '%O' means default behavior
# Fill : set if the area shall be fill. If yes with the specified value in 'fillval'
########################################################
MEMORY {
    ZP:     start = $00,    size = $0100, type = rw, file = "";
    OAM:    start = $0200,  size = $0100, type = rw, file = "";
    RAM:    start = $0300,  size = $0500, type = rw, file = "";
    HDR:    start = $0000,  size = $0010, type = ro, file = %O, fill = yes, fillval = $00;
    PRG:    start = $8000,  size = $8000, type = ro, file = %O, fill = yes, fillval = $00;
    CHR:    start = $0000,  size = $2000, type = ro, file = %O, fill = yes, fillval = $00;
}

########################################################
# SEGMENT section
# Map labels used in asm file with MEMORY area
# Structure is :
# label name: 
#   - load = section this label points to
#   - type = type of memory (zp for zero page, bss for the RAM, ro for read only) (BSS cannot be filled)
#   - align = ensures this segments starts on the boundary specified
#   - start = ensures this segment starts at the location specified
########################################################
SEGMENTS {
    ZEROPAGE: load = ZP,  type = zp;
    OAM:      load = OAM, type = bss, align = $100;
    BSS:      load = RAM, type = bss;
    HEADER:   load = HDR, type = ro;
    CODE:     load = PRG, type = ro,  start = $8000;
    RODATA:   load = PRG, type = ro;
    VECTORS:  load = PRG, type = ro,  start = $FFFA;
    TILES:    load = CHR, type = ro;
}
